<div class="flex flex--vertical stylers">
    <div class="flex header">Stylers</div>
    <div class="main">
        <div class="flex flex--vertical grow shrink">
            {{#if selected}}
                <div class="title">
                    Selected Element: <b>{{selected}}</b>
                </div>
                <hr>
            {{/if}}
            {{#each this.common.selected as | var |}}
                {{#unless var.noshow}}
                    <div class="flex {{if var.disabled 'disabled'}}">
                        <Input @type='checkbox' @checked={{var.enabled}} @change={{action this.updateVariable var}} disabled={{var.disabled}} />
                        {{#if (eq var.type 'single')}}
                            <div class="flex">{{var.title}}: {{var.value}}</div>
                        {{/if}}
                        {{#if (eq var.type 'multiple')}}
                            {{var.title}}:
                            <select onchange={{action "selectMultiple" value="target.value"}} disabled={{var.disabled}}>
                                <option value=''>Select</option>
                                {{#each var.values as | value |}}
                                    <option selected={{eq value var.value}} value="{{value}}___{{var.title}}">{{value}}</option>
                                {{/each}}
                            </select>
                        {{/if}}
                    </div>
                {{/unless}}
            {{/each}}
        </div>
    </div>
</div>